@import "../../css/base";

.container {
  position: relative;
  display: flex;
  min-width: 300px;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  top: 48px;
  height: calc(100vh - 50px);
}

.form_holder {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

